asgiref==3.5.2
certifi==2022.9.24
dj-database-url==1.0.0
Django==4.1
django-cors-headers==3.13.0
gunicorn==20.1.0
pip==22.2.2
psycopg2-binary==2.9.4
setuptools==63.4.1
sqlparse==0.4.1
tzdata==2021.1
wheel==0.37.1
whitenoise==6.2.0
wincertstore==0.2
